<div class="card">
  <%= link_to image_tag(prototype.image. if prototype.image.attached?),prototype_path(prototype.id), method: :get %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>
    <p class="card__summary">
      <%= prototype.concept %>
    </p>
    <%= link_to  prototype.user.name, user_path(prototype.user.id), method: :get, class: :card__user %>
  </div>
</div>